body {background-color: burlywood;}
           #thirdDiv {style= heigth:500px;
                      width:600px;
                      background: teal;
                      padding: 50px; 
                      border-color: dodgerblue;
                      border-width: 20px; 
                      border-style: groove;
                      display: flex;
                      flex-direction: column;
                      flex-wrap: wrap;
                      justify-content: center;
                      align-items: center; }
           #spanId { style= font-size: 18px;
                    margin:  50px} 
           .divClass {display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;}
            #ulId   {display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;}
            img {
                    style= width: 200px;
            }
                  
 	